# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDEs (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Logs de la aplicación
uvicorn.log
*.log